*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.app{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: calc(75px * 8);
    height: calc(75px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 70px;
    height: 55px;
    position: relative;
}

.black{
    background-color: deepskyblue;
}

.white{
    background-color: #dec9a2;
}

.selected{
    background-color: salmon;
}

.available{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #2d7c2d;
}

.lost{
    height: calc(50vh - 60px);
    padding: 60px;
    margin-left: 50px;
    background-color: lightgray;
}